<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uinmalang.ahmadriza.apik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FormUser"
            android:screenOrientation="portrait"
            />
        <activity android:name=".KaloriMakanan"
            android:screenOrientation="portrait" />
        <activity android:name=".Result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchMakanan"
            android:label="@string/title_activity_search_makanan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".AddMakanan"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>